body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.34;
    margin: 0;
    padding: 0;
}

.style {
    background: #f0f2f5;
    min-width: 500px;
    padding-bottom: 112px;
    padding-top: 72px;
}

.container {
    margin: 0 auto;
    position: relative;
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
}

.box {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
}

.fb{
    display: inline-block;
    vertical-align: top;
}

.img {
    height: 106px;
    margin: -28px;
    border: 0;
}

h2{
    margin-top: 0;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    padding: 0 0 20px;
}

/*login*/
.login {
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
    height: 456px;
    width: 396px;
}

.boxLogin {
    padding-bottom: 24px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}

.btn {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 365px;
    color: #fff;
}

.input{
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
}

.password {
    background: none;
    border: 0;
    box-shadow: none;
    float: left;
    font-size: 17px;
    padding: 0;
    width: 300px;
}

.accountBtn{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align:
}

.btnstyle {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    width: 200px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
}

.form {
    font-size: 17px;
    width: 364px;
    display: inline-block;
    font-size: 14px;
    margin: auto;                                
    padding: 6px 0;
}

.button {
    padding-top: 6px;
}

.account{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 78px;
    padding: 0 16px;
    background-color: #42b72a;
    color: #fff;
    text-decoration: none;
}

.user{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    box-sizing: content-box;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

.create {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 28px;
    text-align: center;
}

/*Footer*/
footer {
    color: #737373;
    margin: 0 auto;
    width: 980px;
    padding-top: 20px;
    font-size: 13px;
}

ul {
    padding-top: 8px;
    list-style-type: none;
    margin: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
}

li a{
    text-decoration: none;
    white-space: nowrap;
    color: #8a8d91;
    cursor: pointer;
    padding-left: 10px;
}

.line {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}

.footer2 .list {
    line-height: 1.6;
    margin-left: 20px;
}

.copywright {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
}